---
http_interactions:
- request:
    method: post
    uri: https://api.terminal49.com/v2/tracking_requests
    body:
      encoding: UTF-8
      string: '{"data":{"type":"tracking_requests","attributes":{"request_type":"bill_of_lading","request_number":"W226267303","scac":"YMLU"}}}'
    headers:
      Authorization:
      - Token <AUTHORIZATION_HEADER>
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"83173615e339caf2451ad1532db16100"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d0cd86ed-902f-4901-939a-89d1aeb80cba","type":"tracking_request","attributes":{"request_number":"W226267303","request_type":"bill_of_lading","scac":"YMLU","ref_numbers":[],"shipment_tags":[],"created_at":"2022-03-12T01:21:31Z","status":"pending","failed_reason":null,"is_retrying":true,"retry_count":null},"relationships":{"tracked_object":{"data":null},"customer":{"data":null},"user":{"data":null}},"links":{"self":"/v2/tracking_requests/d0cd86ed-902f-4901-939a-89d1aeb80cba"}}}'
  recorded_at: Sat, 12 Mar 2022 01:21:31 GMT
recorded_with: VCR 6.0.0
